* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #27282a;
  color: #f2f0eb;
}

a {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

a,
a:active,
a:focus,
a:hover {
  text-decoration: none;
}

/* Navigation */
.navBar {
  width: 10%;
  height: 100vh;
  position: fixed;
  display: flex;
  bottom: 0;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  z-index: 10;
}

.logo {
  display: block;
  position: relative;
  width: 130px;
  height: 15vh;
  top: 3vh;
  background-image: url(./image/logo_biale.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.hamburger {
  padding: 10px;
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
}

.hamburger__box {
  width: 35px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: background-color 0.3s 0.1s ease-in-out;
}

.hamburger__inner::before,
.hamburger__inner::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 0;
  transition: transform 0.3s 0.2s ease-in-out;
}

.hamburger__inner::before {
  top: -10px;
}

.hamburger__inner::after {
  top: 10px;
}

.hamburger--active .hamburger__inner {
  background-color: transparent;
}

.hamburger--active .hamburger__inner::before {
  transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger__inner::after {
  transform: translateY(-10px) rotate(-45deg);
}

.navigation {
  height: 50vh;
  width: 100%;
  background: #000;
}

.navigation--active {
  transform: translateX(95px);
}

.navigation__list {
  margin-top: 50px;
  list-style-type: none;
}

.navigation__item {
  text-align: center;
  margin-bottom: 10%;
  padding-bottom: 10%;
  font-size: 1.7rem;
  font-weight: 700;
}

.navigation__item:hover {
  cursor: pointer;
  color: #d5ba98;
  transition: 0.2s 0.1s ease-in;
}

.social {
  position: relative;
  bottom: 3vh;
  font-size: 13em;
}

.facebook,
.instagram {
  position: relative;
  width: 40px;
  height: 40px;
  text-align: center;
  overflow: hidden;
}

.facebook:hover {
  color: #4267b2;
  transition: linear 0.2s;
}

.instagram:hover {
  color: #fb3958;
  transition: linear 0.2s;
}

/* Hero Section */

.hero {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./image/hero.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}

.hero__cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.logo__box {
  width: 50%;
  height: 60%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 20%;
  z-index: 3;
}

.title {
  width: 100%;
  height: 85%;
  position: relative;
  left: 25%;
  align-self: center;
  background-image: url(./image/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  animation: logo 4s linear 0.2s forwards;
}

.arrow {
  position: relative;
  top: 30%;
  font-size: 5rem;
  color: #fff;
}

.arrow:hover {
  cursor: pointer;
  animation: slide 0.7s ease-in-out 0.2s 1 forwards;
}

/* About Alex */

.alex {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.grid-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 13% 30% 18% 35%;
  grid-template-rows: 12% 44% 44%;
  gap: 0% 0px;
  grid-template-areas: "empty sign sign sign ." "empty text text portrait ." "empty text text portrait .";
}

.empty {
  grid-area: empty;
}
.text {
  height: 65%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 15% 0 auto 15%;
  grid-area: text;
  padding: 5% 5% 0 5%;
  text-align: center;
  line-height: 1.8;
  color: #f2f0eb;
  font-size: 1.5rem;
  font-weight: 500;
  border: 1px solid #bda182;
}

.sign {
  grid-area: sign;
  background-image: url(./image/alex_sign.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: 60%;
  right: -57%;
}

.portrait {
  height: 80%;
  width: 100%;
  grid-area: portrait;
  background-image: url(./image/alex.JPG);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 15%;
  margin-left: 10%;
}

.portrait__shadow {
  width: 66.8%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.underline {
  width: 35%;
  height: 2px;
  position: relative;
  bottom: 10%;
  left: 40%;
  background: #bda182;
}

/* Services */

.services {
  width: 90vw;
  height: 100vh;
  display: grid;
  position: relative;
  justify-content: space-between;
  grid-template-columns: 17% 83%;
  grid-template-rows: 1fr;
  grid-template-areas: ". services";
}

.services__title {
  position: absolute;
  top: 5%;
  left: 20%;
  text-transform: uppercase;
  font-size: 3.5rem;
}

.services__title::after {
  content: "";
  display: block;
  position: relative;
  width: 52.5vw;
  height: 2px;
  top: 5px;
  background-color: #d5ba98;
}

.services__grid {
  display: grid;
  position: relative;
  top: 40px;
  margin: auto;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(2, 150px);
  gap: 50px 50px;
  grid-template-areas: ". . . ." ". . . .";
  grid-area: services;
}

.services__tile,
.light-tile {
  width: 100%;
  height: 100%;
  position: relative;
}

.black-tile {
  background-color: #121310;
}

.grey-tile {
  background-color: #d5ba98;
  color: #121310;
}

.front,
.back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.6s linear;
  cursor: pointer;
}

.front {
  display: block;
  transform: perspective(500px) rotateY(0deg);
}

.services__tile .tile__title,
.light-tile .tile__title {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.5;
}

.front {
  display: block;
  transform: perspective(500px) rotateY(0deg);
}

.first-tile {
  background-image: url(./image/lot-widokowy.jpg);
}

.services__tile:hover > .front,
.light-tile:hover > .front {
  transform: perspective(500px) rotateY(-180deg);
  cursor: pointer;
}

.back {
  transform: perspective(500px) rotateY(180deg);
}

.services__tile:hover > .back,
.light-tile:hover > .back {
  transform: perspective(500px) rotateY(0deg);
  cursor: pointer;
}

.services__tile span,
.light-tile span {
  font-size: inherit;
}

.services__tile::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 15px;
  left: 15px;
  border: 2px solid #d5ba98;
  z-index: -2;
}

.light-tile::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 15px;
  left: 15px;
  border: 2px solid #f2f0eb;
  z-index: -1;
}
/* Price List */

.pricelist {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.pricelist__title {
  position: absolute;
  top: 5%;
  left: 20%;
  text-transform: uppercase;
  font-size: 3.5rem;
}

.pricelist__title::after {
  content: "";
  display: block;
  position: relative;
  width: 52.5vw;
  height: 2px;
  top: 5px;
  background-color: #d5ba98;
}

.pricelist__column {
  height: 70%;
  width: 50%;
  position: relative;
  top: 10vh;
  left: 10%;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: repeat(auto, 1fr);
}

.pricelist__column::after {
  content: "";
  height: 2px;
  width: 70%;
  display: block;
  position: relative;
  top: -15px;
  left: 43%;
  background-color: #d5ba98;
}
.service {
  background-color: #121310;
}

.price {
  color: #d5ba98;
}

.service,
.price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.longer-box {
  padding-bottom: 7%;
}

/* Animations */

@keyframes logo {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
